@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #292A2F;
}

body{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header span {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header span img{
    width: 92px;
    height: 92px;
    border-radius: 50%;
}

.textoPerfil{
    margin-left: 15px;
}

h1{
    font-size: 24px;
    font-weight: 700;
}

h2{
    font-size: 20px;
    font-weight: 400;
}

p{
    margin-top: 20px;
    text-align: justify;
}

aside{
    margin-top: 10px;
    max-width: 460px;
}

aside span{
    display: flex;
    flex-direction: row;
    align-items: center;
}

aside span img{
    width: 17px;
    height: 17px;
}

aside span h1{
    margin-left: 5px;
}

aside ul{
    list-style: none;
}

aside .listas{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    max-width: 460px;
}

aside .listas ul{
    margin-left: 15px;
}

aside .listas li{
    margin-top: 5px;
}


aside .asidesTittle{
    margin-top: 10px;
}

aside .linguagem{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 10px;
}

aside .linguagem .lingua{
    width: 85px;
}

aside .linguagem p{
    margin-top: 0;
}

aside .linguagem .levelLanguage{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    max-width: 240px;
}

aside .linguagem .levelLanguage p{
    margin-top: 0;
    font-size: 14px;
}

main{
    max-width: 800px;
    margin-top: 10px;
}

main section{
    margin-top: 10px;
}

main section span{
    display: flex;
    flex-direction: row;
    align-items: center;
}

main section span img{
    width: 17px;
    height: 17px;
}

main section span h1{
    margin-left: 5px;
}

main section .Exp{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 10px;
}

main section .data{
    font-size: 16px;
    font-weight: 600;
    max-width: 71px;
    text-align: center;
}

main section .infomacaoExp{
    margin-left: 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

main .position {
    margin-top: 0;
    margin-left: 0;
    font-size: 16px;
    font-weight: 600;
}

main section .company{
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
    margin-top: 5px;
}

main section ul{
    font-size: 14px;
    font-weight: 400;
    margin-top: 5px;
    margin-left: 15px;
}

main section p{
    margin-top: 0;
    margin-left: 0;
}

main section .Edu{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 10px;
}

main section .informacaoEdu{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}